body {
  width: 60%;
  margin:10px auto;
}

#table {
  display: none;
}

.label-info {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #0275d8;
}

#chartContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tablee {
  height: 400px;
  overflow: auto
}
